
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    /* font-weight: bolder;    */
}
nav{
    background-color: #4a98ac;
    color:#000;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    top:0px;
    
}
.nav1{
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    
}
ol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    list-style: none;
    
}
.nav2 a{
    text-decoration: none; 
    color:#000; 
    font-weight: bold;
     
}
/* .nav2 a:visited{
    color: white;
}
.nav2 a:active{
    color:deeppink;
}
.nav2 a:hover{
    cursor: pointer;;
} */
/*------------front page----*/
.front{
    height: 80vh;
    width: 100vw;
    border:1px solid #000;
    background:white no-repeat scroll center url("https://hips.hearstapp");
}
/*----------signup page-----*/
.sec2{ 
    height: 100vh;
    margin: (10px 0px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background:rgb(139, 189, 169) no-repeat scroll center url("https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-size: cover;
}
.sign{
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction:column;
    padding:5px;
}
.sign label{
    margin-bottom: 5px;
}
.sign input{
    width: 80%;
    border-radius: 10px;
    background-origin: 1px solid black;
}
.sign button{
    background-color: blueviolet;
    width: 100px;
    border-radius: 10px;
}
/* --------------food----------- */

.sec3{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(162, 218, 196) no-repeat scroll center url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-size: cover;
}
button{
    
    align-items: center;
}
.food:hover{
    transform:scale(1.2);
    border-radius: 10px;

}
/* ----------food recipe----- */
.sec4{
    height: 100vh;
    background-color:rgb(170, 219, 200); 
}
.foodre{
   height: 50vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 1px solid black;
}
.food-items{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    box-shadow: 0px opx 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}






/* ----------signup page----- */
.sec2{ 
    height: 100vh;
    margin: (10px 0px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background:rgb(139, 189, 169) no-repeat scroll center url("https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-size: cover;
}
.sign{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.sign label{
    margin-bottom: 5px;
}
.sign input{
    width: 80%;
    border-radius: 10px;
    background-origin: 1px solid black;
}
.sign button{
    background-color: blueviolet;
    width: 100px;
    border-radius: 10px;
}
/* --------------food----------- */
.sec3{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(162, 218, 196) no-repeat scroll center url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-size: cover;
}
button{
    
    align-items: center;
}
.food:hover{
    transform:scale(1.2);
    border-radius: 10px;

}
/* ---------- recipe----- */
.sec4{
    height: 100vh;
    background-color:rgb(170, 219, 200); 
}
.foodre{
   height: 50vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 1px solid black;
}
.food-items{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    box-shadow: 0px opx 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    
}
